		/* newyork & miami */
        .wrapper.style1 .inner {
            display: flex;
            flex-direction: column;
            align-content: center;
            background-color: #EEE;
            margin:0 auto;
            
        }

        .feature {
            display: flex;
            align-items: center;
            flex-direction:column;
            margin: 3em;
            background-color:rgb(255,255,255);
            
            margin-bottom: 3em;
           
        }

    

            .feature.left {
                flex-direction: row;
            }

            .feature.right {
                flex-direction: row-reverse;
            }

            .feature .image {
                width: 58%;
            }

                .feature .image img {
                    max-width: 100%;
                    max-height: 100%;
                }

            .feature .content {
                padding: 2em 3em 0.1em 3em;
                width: 42%;
            }
            
        .image img {
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
        
        .content {
            margin: auto 2em auto 2em;
        }

        p {
            margin: 0 0 4em 0;
        }

        .actions {
            cursor: default;
            list-style: none;
            padding-left: 0;
        }

        .button {
            background-color: transparent;
            box-shadow: inset 0 0 0 2px #51BAA4;
            color: #51BAA4 !important;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            border-radius: 2.5em;
            border: 0;
            cursor: pointer;
            display: inline-block;
            font-weight: 700;
            height: 2.85em;
            line-height: 2.95em;
            min-width: 10em;
            padding: 0 1.5em;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap;
        }
    /* gallery */
        .inner{
            background-color: transparent;
        }
        /* gallery text */
        section.special{
            text-align: center;
            padding: 3em 0 4em 0;
            font-size: 1.5em;
            font-weight: 700;
            line-height: 1em;
            margin: 0 0 1em 0;
    
        }

        header.major {
            margin-bottom: 2em;
        }

        .inner{
            
            margin: 0 auto;
        }
        /* gallery image */
        .image-grid {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 4em;
            justify-content: center;  
        }

            .image-grid .image {
                margin: 5px;
                width: 20%;
                justify-content: center;  
                align-self: center; 
            }

                .image-grid .image img {
                    width: 100%;
                }
    /* working contact */
        .wrapper.style2 {
        background-color: #1E2832;
        color: rgba(255, 255, 255, 0.75);
        text-align: center;
        }

            .wrapper.style2 textarea {
                background-color: rgba(255, 255, 255, 0.05);
                border-color: transparent;
                color: inherit;
            }
        
            .wrapper.style2 h2 {
            color: #fff;
            }

            .wrapper.style2 inner{
                background-color: #1E2832;
            }
        
        .container{
            width: 50em;
            margin-left: auto;
            margin-right: auto;
            }
        
        .contact-form {
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-columns: 1fr 1fr;
            align-content: center;
            }

        .contact-form .contact-name {
            padding: 0 1em 0 3em;
            border-radius: 4px;
            border-style: solid;
            border-width: 1px;
            display: block;
            outline: 0;
            padding: 0 1em;
            text-decoration: none;
            width: 100%;
            }
        
        .contact-form .contact-name input {
            width: 100%;		
            text-rendering: auto;
            letter-spacing: normal;
            word-spacing: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;	
            text-align: start;
            -webkit-rtl-ordering: logical;
            cursor: text;
            margin: 0em;
            font: 400 13.3333px Arial;
            border-image: initial;
        }

        .contact-form .contact-email {
            padding: 0 3em 0 1em;
        }
        
        .contact-form .contact-email input {
            width: 100%;
        }

        .contact-form .contact-message {
            grid-column: 1/3;
            padding: 1em 3em;
        }

        .contact-form .contact-message textarea {
            width: 100%;
        }
    /* footer */
        #footer {
            background-color: #1E2832;
            color: rgba(255, 255, 255, 0.75);
            text-align: center;
        }
    
        #footer {
            background-color: #1E2832;
            color: rgba(255, 255, 255, 0.75);
            text-align: center;
        }
    
            #footer input, #footer select, #footer textarea {
                color: #fff;
            }
    
            #footer a {
                color: #51BAA4;
            }
    
            #footer strong, #footer b {
                color: #fff;
            }
    
            #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
                color: #fff;
            }
    
            #footer blockquote {
                border-left-color: transparent;
            }
    
            #footer code {
                background: rgba(255, 255, 255, 0.05);
                border-color: transparent;
            }
    
            #footer hr {
                border-bottom-color: transparent;
            }
    
            #footer a {
                -moz-transition: color 0.2s ease-in-out;
                -webkit-transition: color 0.2s ease-in-out;
                -ms-transition: color 0.2s ease-in-out;
                transition: color 0.2s ease-in-out;
                color: #a5a9ad;
            }
    
                #footer a:active, #footer a:focus, #footer a:hover {
                    color: #fff;
                }
    
            #footer .inner {
                padding: 6em 0 4em 0;
                border-top: solid 1px rgba(255, 255, 255, 0.1);
                margin: 0 auto;
                width: 75%;
            }
    /* miami */
        .wrapper .container{
            margin-left: auto;
            margin-right: auto;
        }

        header.major {
            margin-bottom: 4em;
        }

        header.special {
            text-align: center;
        }

        header.major h2 {
            font-size: 2.5em;
        }

        .image.fit img {
            width: 60%;
            height: 60%;
            align-items: center;
        }